/*
 * SPDX-FileCopyrightText: 2023 2023, Nicolas Bota, Marcel Geiger, Florian Paul, Rajbir Singh, Niklas Sirch, Jan Swiridow, Duc Minh Vu, Mike Wegele
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.cm-scroller::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #333333;
}
.cm-scroller::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 5px;
}
