# SPDX-FileCopyrightText: 2023 2023, Nicolas Bota, Marcel Geiger, Florian Paul, Rajbir Singh, Niklas Sirch, Jan Swiridow, Duc Minh Vu, Mike Wegele
#
# SPDX-License-Identifier: CC0-1.0

aiohttp==3.8.4
Django==4.2.1
django_ace==1.15.4
django-click==2.3.0
django-csp==3.7
django-modeltranslation==0.18.9
django-ninja==0.22.2
django_admin_rangefilter==0.10.0
psycopg==3.1.9
psycopg-binary==3.1.8
psycopg-pool==3.1.7
PyLTI1p3==2.0.0
PyYAML==6.0
python-dotenv==1.0.0
pytz==2023.3

# deploy
gunicorn==20.1.0
uvicorn[standard]==0.21.1
# psycopg-c==3.1.8
pymemcache==4.0.0

# testing
freezegun==1.2.2