/*
 * SPDX-FileCopyrightText: 2023 2023, Nicolas Bota, Marcel Geiger, Florian Paul, Rajbir Singh, Niklas Sirch, Jan Swiridow, Duc Minh Vu, Mike WegelE
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

:root{
  --focus-border: #f49600;
}

.sash-module_sash__K-91B.sash-module_hover__80W61:before{
background: var(--focus-border);
}

fieldset{
  border: none !important;
  outline: none !important;
}

/* Firefox */
html {
    scrollbar-color: #333333 white;
    scrollbar-width: thin;
  }
  
  /* WebKit and Chromiums */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: white;
  }

  /* WebKit and Chromiums */
  .cm-scroller::-webkit-scrollbar, .customBar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #333333;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px;
  }

  .cm-scroller::-webkit-scrollbar-thumb, .customBar::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }